// Override this file to add your own SCSS styling.

// 宽屏 .container 宽度
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1100px;
  }
}



.page-body {
  padding: 1.4rem 2.8rem;
  margin: 1.2rem auto;
  /* background-color: #f8f7debd; */
  box-shadow: 0px 0px 1.2rem #999;
  border-radius: 1rem;
}


.nav-container-bg {

  border-radius: 10px;
  background-color: #999EA2;
  box-shadow: 0px 0px 20px #999;


}
.navbar .navbar-nav .nav-link {
  font-size: 1.2rem;

}

#navbar-main .main-menu-item ul li .nav-link {
  color: #ffffff;
}

.dark a, .dark h3.article-title a:hover {
  //color: #f76497;
  color: #1565c0;
}

.experience-icon-image {
  width: 80px;
  max-height: 80px;
  max-width: unset;
}

.home-prj-img-icon-wrap {
  /*display: grid;
  place-items: center;*/

  .home-project-icon-image {
    /*max-width: 150px !important;*/
    margin-top: 0.5rem;

  }
}



.home-pubs-section {
  .pub-title {
    font-weight: bold;
  }
}



@media (max-width: 640px) {

}
